{% extends 'base.html' %}

{% block title %}Смена пороля | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="login-form cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form-container">
                            <h2 class="ui center aligned header">Изменение пароля</h2>
                            <form class="ui form error" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Текущий пароль</label>
                                    <input type="password" name="old_password" placeholder="Введите пароль..." value="{{ form.old_password.value|default_if_none:"" }}">
                                </div>
                                {% if form.old_password.errors %}
                                    <div class="ui error message">
                                        {% for error in form.old_password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Новый пароль</label>
                                    <input type="password" name="fpassword" placeholder="Новый пароль..." value="{{ form.fpassword.value|default_if_none:"" }}">
                                </div>
                                {% if form.fpassword.errors %}
                                    <div class="ui error message">
                                        {% for error in form.fpassword.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Подтвердите пароль</label>
                                    <input type="password" name="spassword" placeholder="Подтвердите пароль..."
                                            value="{{ form.spassword.value|default_if_none:"" }}">
                                </div>
                                {% if form.spassword.errors %}
                                    <div class="ui error message">
                                        {% for error in form.spassword.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="child-center">
                                    <button class="large ui primary button">
                                        Применить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').click(function () {
                $(this).addClass('loading')
            });
        })
    </script>
{% endblock %}