{% extends 'base.html' %}

{% block title %}Личный кабинет | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="personal-area cblock">
                <div class="content">
                    <h2 class="ui center aligned header">Личный кабинет</h2>
                    <h3>{{ request.user.email }}</h3>
                    <div class="ui sixteen wide">
                        <a href="{% url 'accounts:change_password' %}" class="medium ui primary button medium">
                            Изменить пароль
                        </a>
                    </div>
                    {% if user.prepod.all.count > 0 %}
                        <h3>Карточка преподавателя</h3>
                        {% for prepod in user.prepod.all %}
                            <div class="full-width">
                                <table class="ui collapsing table">
                                    <tbody>
                                    <tr>
                                        <td><strong>Фамилия</strong></td>
                                        <td>{{ prepod.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Имя</strong></td>
                                        <td>{{ prepod.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Отчество</strong></td>
                                        <td>{{ prepod.surname }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Должность</strong></td>
                                        <td>{{ prepod.dolzhnost }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Квал. уровень</strong></td>
                                        <td>{{ prepod.kv_uroven }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Часов ставки</strong></td>
                                        <td>{{ prepod.chasov_stavki }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}