{% extends 'base.html' %}

{% block title %}Регистрация | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="registration-form cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form-container">
                            <h2 class="ui center aligned header">Регистрация</h2>
                            <form class="ui form error" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Email</label>
                                    <input type="email" name="email" placeholder="Введите email..." value="{{ form.email.value|default_if_none:"" }}">
                                </div>
                                {% if form.email.errors %}
                                    <div class="ui error message">
                                        {% for error in form.email.errors %}
                                            <p>{{ error|safe }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Пароль</label>
                                    <input type="password" name="fpassword" placeholder="Введите пароль..." value="{{ form.fpassword.value|default_if_none:"" }}">
                                </div>
                                {% if form.fpassword.errors %}
                                    <div class="ui error message">
                                        {% for error in form.fpassword.errors %}
                                            <p>{{ error|safe }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Повторите пароль</label>
                                    <input type="password" name="spassword" placeholder="Введите пароль..." value="{{ form.spassword.value|default_if_none:"" }}">
                                </div>
                                {% if form.spassword.errors %}
                                    <div class="ui error message">
                                        {% for error in form.spassword.errors %}
                                            <p>{{ error|safe }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="child-center">
                                    <button class="large ui primary button">
                                        Зарегистрироваться
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').click(function () {
                $(this).addClass('loading')
            });
        })
    </script>
{% endblock %}