{% extends 'base.html' %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="login-form cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form-container">
                            <h2 class="ui center aligned header">Письмо отправлено</h2>
                            <p>На указанную почту было отправлено письмо с ссылкой для восстановления пароля.</p>
                            <p>Ссылка действительна 15 минут.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}