{% extends 'base.html' %}
{% load static %}
{% load extra %}

{% block title %}Список дисциплин | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container full-width">
        <div class="child-center">
            <div class="discipline-list cblock">
                <div class="content">
                    <h1 class="ui center aligned header">Дисциплины для {{ prepod.fio }}</h1>
                    <div class="data">
                        <p>Должность: {{ prepod.dolzhnost.name }}</p>
                        <p>Кв. уровень: {{ prepod.kv_uroven }}; Почасовка: {{ prepod.pochasovka|yes_no }}</p>
                        <p>Часов ставки: {{ prepod.chasov_stavki }}; Н.Ставка: {{ prepod.n_stavka }}</p>
                    </div>
                    <div class="panel">
                        <div class="buttons left">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="sixteen wide field">
                                        <label>Поиск</label>
                                        <input type="text" placeholder="Искать дисциплину..." name="search">
                                    </div>
                                    <div class="field">
                                        <a id="search-btn" class="medium ui primary button"><i class="search icon"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="download-xls" method="post">
                            {% csrf_token %}
                        </form>
                        <div class="buttons right">
                            <button id="download-btn" type="submit" class="large ui primary button" form="download-xls">
                                Скачать xls
                            </button>
                            {% if request.user.is_superuser %}
                                <button id="save-btn" type="submit" class="large ui primary button right"
                                        form="disciplines">Сохранить
                                </button>
                            {% endif %}
                        </div>
                    </div>


                    <div class="sixteen wide table-container">
                        <form id="disciplines" method="post">
                            {% csrf_token %}
                            <table class="ui sortable celled table">
                                <thead>
                                <tr>
                                    <th>Форма</th>
                                    <th>Дисциплина</th>
                                    <th>Факультет</th>
                                    <th>Спец.</th>
                                    <th>Курс</th>
                                    <th>Сем.</th>
                                    <th>Период</th>
                                    <th>Труд.</th>
                                    <th>Ч. СРС</th>
                                    <th>Ч. по плану</th>
                                    <th>ЛК</th>
                                    <th>ПР</th>
                                    <th>ЛР</th>
                                    <th>Зачет</th>
                                    <th>Экзамен</th>
                                    <th>ВСЕГО</th>
                                    {% if request.user.is_superuser %}
                                        <th>Выбор</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for dis in disciplines %}
                                    <tr>
                                    <td data-label="Форма">{{ dis.form.name }}</td>
                                    <td data-label="Дисциплина">{% if request.user.is_superuser %}
                                        <a href="/admin/Disciplines/discipline/{{ dis.id }}/change/">{{ dis.name }}</a>{% else %}
                                        {{ dis.name }}{% endif %}</td>
                                    <td data-label="Факультет">{{ dis.fakultet.name }}</td>
                                    <td data-label="Спец.">{{ dis.specialnost.name }}</td>
                                    <td data-label="Курс">{{ dis.kurs }}</td>
                                    <td data-label="Сем.">{{ dis.semestr }}</td>
                                    <td data-label="Период">{{ dis.period }}</td>
                                    <td data-label="Труд.">{{ dis.trudoemkost }}</td>
                                    <td data-label="Ч. СРС">{{ dis.srs }}</td>
                                    <td data-label="Ч. по плану">{{ dis.chas_po_planu }}</td>
                                    <td data-label="ЛК">{{ dis.lk }}</td>
                                    <td data-label="ПР">{{ dis.pr }}</td>
                                    <td data-label="ЛР">{{ dis.lr }}</td>
                                    <td data-label="Зачет">{{ dis.zachet }}</td>
                                    <td data-label="Экзамен">{{ dis.ekzamen }}</td>
                                    <td data-label="ВСЕГО">{{ dis.summary }}</td>
                                    {% if request.user.is_superuser %}
                                        <td data-label="Выбор">
                                            <div data-id="{{ dis.id }}"
                                                 class="ui checkbox {% if prepod.disciplines and dis in prepod.disciplines.all %}checked{% endif %}">
                                                <input type="checkbox" tabindex="0" class="hidden" value="{{ dis.id }}"
                                                       name="discipline"
                                                       {% if prepod.disciplines and dis in prepod.disciplines.all %}checked{% endif %}>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal">
        <div class="header">Выберите xls файл c дисциплинами</div>
        <div id="loader" class="ui inverted dimmer">
            <div class="ui text loader">Отправка файла...</div>
        </div>
        <div class="content no-shadow">
            <form id="disciplines-form" enctype="multipart/form-data" method="post" class="ui form">
                {% csrf_token %}
                <input type="hidden" name="action" value="update">
                <input id="disciplines-path" type="text" name="filename" readonly>
                <input id="disciplines-upload" type="file" name="disciplines" (change)="fileEvent($event)"
                       accept=".xls, .xlsx">
                <label for="disciplines-upload" class="ui medium primary right floated button">
                    <i class="ui upload icon"></i>
                    Выбрать
                </label>
            </form>
        </div>
        <div class="actions">
            <div id="update" onclick="updateDisciplines()" class="ui primary button">Обновить</div>
            <div id="replace" onclick="replaceDisciplines()" class="ui primary button">Заменить</div>
            <div class="ui cancel button" style="border-radius: 0">Отмена</div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/table_sort.js' %}"></script>
    <script type="text/javascript">
        $('.ui.checkbox').checkbox();

        function showModal() {
            $('.ui.modal').modal('show')
        }

        function updateDisciplines() {
            $('input[name=action]').val('update');
            var $loader = $('#loader').addClass('active');
            sendDisciplines($loader);
        }

        function replaceDisciplines() {
            $('input[name=action]').val('replace');
            var $loader = $('#loader').addClass('active');
            sendDisciplines($loader);
        }

        function sendDisciplines($loader) {
            var formData = new FormData($('#disciplines-form').get(0));
            $.ajax({
                url: '{% url 'disciplines:upload' %}',
                type: 'post',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    $loader.removeClass('active');
                },
                error: function (data) {
                    $loader.removeClass('active');
                }
            })
        }

        function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
        }

        $(document).ready(function () {
            $('#disciplines-upload').change(function () {
                var path = $(this).val().split('\\');
                $('#disciplines-path').val(path[path.length - 1]);
            });
            $('#download-xls').submit(function (e) {
                e.preventDefault();
                var $btn = $('#download-btn').addClass('loading');
                var formData = new FormData($(this).get(0));
                $.ajax({
                    url: '/prepods/{{ prepod.id }}/disciplines/download/',
                    type: 'post',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        downloadURI(data['url'], data['filename']);
                        $btn.removeClass('loading')
                    },
                    error: function (data) {
                        $btn.removeClass('loading')
                    }
                })
            });
            $('#disciplines').submit(function (e) {
                e.preventDefault();
                var $btn = $('#save-btn').addClass('loading');
                $.post('', $(this).serialize(), function (data) {
                    $btn.removeClass('loading')
                })
            });
            $('table').tablesort();
            var $items = $('table tbody tr');
            var $list = $('table tbody');
            $('#search-btn').click(function () {
                var query = $('input[name=search]').val().split(' ');
                var $search_items = $items.filter(function () {
                    var result = true;
                    var disc = $(this).find('[data-label=Дисциплина]').text().toLowerCase();
                    query.forEach(function (val, i, a) {
                        result = disc.includes(val.toLowerCase());
                    });
                    return result
                });
                $list.html("");
                $list.append($search_items);
            })
        })
    </script>
{% endblock %}