{% extends 'base.html' %}
{% load static %}
{% load modified %}

{% block title %}Список дисциплин | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container full-width">
        <div class="child-center">
            <div class="discipline-list cblock">
                <div class="content">
                    <h1 class="ui center aligned header">Список дисциплин
                        {% if prepod %}{{ prepod.fio }}{% endif %}</h1>
                    <div class="panel">
                        <div class="buttons left">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="sixteen wide field">
                                        <label>Поиск</label>
                                        <input type="text" placeholder="Искать дисциплину..." name="search">
                                    </div>
                                    <div class="field">
                                        <a id="search-btn" class="medium ui primary button"><i class="search icon"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="buttons right">
                                <form id="download-xls" method="post">
                                    {% csrf_token %}
                                    <div class="sixteen wide">
                                        <a id="btn-upload-modal" onclick="showModal()"
                                           class="large ui primary button {% if parsing %} disabled {% endif %}">Залить
                                            xls</a>
                                        <button id="btn-download-xls" type="submit"
                                                class="large ui primary button {% if parsing %} disabled {% endif %}">
                                            Скачать xls
                                        </button>
                                        <a href="{% static 'files/Shablon.xls' %}" class="large ui primary button"
                                           download="proposed_file_name">Скачать шаблон</a>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <div id="parse-progress-block" class="panel {% if not parsing %}hide{% endif %}">
                        <div id="parse-progress" class="ui blue progress">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                            <div class="label">Обработка файла</div>
                        </div>
                    </div>
                    <div class="sixteen wide table-container">
                        <table class="ui sortable celled table tableFixHead">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Код</th>
                                <th>Форма</th>
                                <th>Дисциплина</th>
                                <th>Факультет</th>
                                <th>Спец.</th>
                                <th>Курс</th>
                                <th>Сем.</th>
                                <th>Период</th>
                                <th>Недель</th>
                                <th>Труд.</th>
                                <th>В нед.</th>
                                <th>СРС</th>
                                <th>По плану</th>
                                <th>Студ.</th>
                                <th>Групп</th>
                                <th>Подгр.</th>
                                <th>ЛК</th>
                                <th>ПР</th>
                                <th>ЛР</th>
                                <th>Зачет</th>
                                <th>Экзамен</th>
                                <th>Контр.р.</th>
                                <th>КР/КП</th>
                                <th>ВКР</th>
                                <th>Пр.пед.</th>
                                <th>Пр.др.</th>
                                <th>ГАК</th>
                                <th>Асп./Маг.</th>
                                <th>Рук.</th>
                                <th>Доп.ч.</th>
                                <th>ВСЕГО</th>
                                <th>Кафедра</th>
                                <th>Поток</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dis in disciplines %}
                                <tr class="{% if dis.nagruzka_count == 0 %} nagruzka-empty {% elif dis.errors %} nagruzka-error {% endif %}">
                                    <td data-label="#">{{ forloop.counter|add:offset }}</td>
                                    <td data-label="Код">{{ dis.code|floatformat }}</td>
                                    <td data-label="Форма">{{ dis.form.name }}</td>
                                    <td data-label="Дисциплина"><a
                                            href="/disciplines/{{ dis.id }}/nagruzka/?source_page={{ page }}">{{ dis.name }}</a>
                                    </td>
                                    <td data-label="Факультет">{{ dis.fakultet.name }}</td>
                                    <td data-label="Спец.">{{ dis.specialnost.name }}</td>
                                    <td data-label="Курс">{{ dis.kurs }}</td>
                                    <td data-label="Сем.">{{ dis.semestr }}</td>
                                    <td data-label="Период">{{ dis.period }}</td>
                                    <td data-label="Недель">{{ dis.nedeli }}</td>
                                    <td data-label="Труд.">{{ dis.trudoemkost }}</td>
                                    <td data-label="В нед.">{{ dis.chas_v_nedelu }}</td>
                                    <td data-label="СРС">{{ dis.srs }}</td>
                                    <td data-label="По плану">{{ dis.chas_po_planu }}</td>
                                    <td data-label="Студ.">{{ dis.student }}</td>
                                    <td data-label="Групп">{{ dis.group }}</td>
                                    <td data-label="Подгр.">{{ dis.podgroup }}</td>
                                    <td data-label="ЛК">{{ dis.lk }}</td>
                                    <td data-label="ПР">{{ dis.pr }}</td>
                                    <td data-label="ЛР">{{ dis.lr }}</td>
                                    <td data-label="Зачет">{{ dis.zachet }}</td>
                                    <td data-label="Экзамен">{{ dis.ekzamen }}</td>
                                    <td data-label="Контр.р.">{{ dis.kontr_raboti }}</td>
                                    <td data-label="КР/КП">{{ dis.kr_kp }}</td>
                                    <td data-label="ВКР">{{ dis.vkr }}</td>
                                    <td data-label="Пр.пед.">{{ dis.pr_ped }}</td>
                                    <td data-label="Пр.др.">{{ dis.pr_dr }}</td>
                                    <td data-label="ГАК">{{ dis.gak }}</td>
                                    <td data-label="Асп./Маг.">{{ dis.aspirantura }}</td>
                                    <td data-label="Рук.">{{ dis.rukovodstvo }}</td>
                                    <td data-label="Доп.ч.">{{ dis.dop_chasi }}</td>
                                    <td data-label="ВСЕГО">{{ dis.summary }}</td>
                                    <td data-label="Кафедра">{{ dis.kafedra.name }}</td>
                                    <td data-label="Поток" style="white-space: nowrap">{{ dis.potok.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="child-center">
                        <div class="ui pagination menu">
                            {% for p in pages %}
                                <a href="/disciplines/list/?page={{ p|add:1 }}"
                                   class="{% if p|add:1 == page %} active {% endif %} item">
                                    {{ p|add:1 }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal">
        <div class="header">Выберите xls файл c дисциплинами</div>
        <div id="loader" class="ui inverted dimmer">
            <div class="ui text loader">Отправка файла...</div>
        </div>
        <div class="content no-shadow">
            <form id="disciplines-form" enctype="multipart/form-data" method="post" class="ui form error">
                {% csrf_token %}
                <input type="hidden" name="action" value="update">
                <input id="disciplines-path" type="text" name="filename" readonly>
                <input id="disciplines-upload" type="file" name="disciplines" (change)="fileEvent($event)"
                       accept=".xls, .xlsx">
                <label for="disciplines-upload" class="ui medium primary right floated button">
                    <i class="ui upload icon"></i>
                    Выбрать
                </label>
                <div class="ui error message hide">
                    <div class="header">Ошибка отправки</div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div id="replace" onclick="replaceDisciplines()" class="ui primary button">Отправить</div>
            <div class="ui cancel button" style="border-radius: 0">Отмена</div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/table_sort.js' %}"></script>
    <script type="text/javascript">
        $('.ui.checkbox').checkbox();

        function showModal() {
            $('.ui.modal').modal('show')
        }

        function updateDisciplines() {
            $('input[name=action]').val('update');
            var $loader = $('#loader').addClass('active');
            sendDisciplines($loader);
        }

        function replaceDisciplines() {
            $('input[name=action]').val('replace');
            var $loader = $('#loader').addClass('active');
            sendDisciplines($loader);
        }

        var check_prog_interval

        function sendDisciplines($loader) {
            var formData = new FormData($('#disciplines-form').get(0));
            $.ajax({
                url: '{% url 'disciplines:upload' %}',
                type: 'post',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    $loader.removeClass('active');
                    $('.ui.modal form .error.message').addClass('hide')
                    $parse_prog_block.removeClass('hide')
                    $parse_progress.progress({percent: 0})
                    check_prog_interval = setInterval(checkParseProgress, 1000)
                    $('.ui.modal').modal('hide')
                    $('#btn-upload-modal').addClass('disabled')
                    $('#btn-download-xls').addClass('disabled')

                },
                error: function (data) {
                    $loader.removeClass('active');
                    $('.ui.modal form .error.message').removeClass('hide')
                }
            })
        }
        {% if parsing %}
            check_prog_interval = setInterval(checkParseProgress, 1000)
        {% endif %}
        var $parse_progress = $('#parse-progress')
        var $parse_prog_block = $('#parse-progress-block')

        function checkParseProgress() {
            $.get('{% url 'disciplines:parse_progress' %}', function (data) {
                console.log(data['status'])
                if (!data['status']) {
                    $parse_prog_block.addClass('hide')
                    clearInterval(check_prog_interval)
                } else {
                    var percent = parseInt(data['progress'].split(' ')[1])
                    $parse_progress.progress({percent: percent})
                }
            })
        }

        function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
        }

        $(document).ready(function () {
            $('#disciplines-upload').change(function () {
                var path = $(this).val().split('\\');
                $('#disciplines-path').val(path[path.length - 1]);
            });
            $('#download-xls').submit(function (e) {
                e.preventDefault();
                var formData = new FormData($(this).get(0));
                $.ajax({
                    url: '{% url 'disciplines:download' %}',
                    type: 'post',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        downloadURI('{% static 'files/disciplines.xls' %}', 'disciplines.xls')
                    },
                    error: function (data) {
                    }
                })
            });
            $('table').tablesort()
            var $items = $('table tbody tr');
            var $list = $('table tbody');
            $('#search-btn').click(function () {
                var query = $('input[name=search]').val().split(' ');
                var $search_items = $items.filter(function () {
                    var result = true;
                    var disc = $(this).find('[data-label=Дисциплина]').text().toLowerCase();
                    query.forEach(function (val, i, a) {
                        result = disc.includes(val.toLowerCase());
                    });
                    return result
                });
                $list.html("");
                $list.append($search_items);
            })
        })
    </script>
{% endblock %}