{% extends 'base.html' %}
{% load static %}
{% load modified %}

{% block title %}Список дисциплин | ПГУ им. "Шолом-Алейхема"{% endblock %}

{% block content %}
    <div class="ui container full-width">
        <div class="child-center">
            <div class="discipline-list cblock">
                <div class="content">
                    <a href="{% url 'disciplines:list' %}">< Все дисциплины</a>
                    <h1 class="ui center aligned header">Нагрузка дисциплины</h1>
                    <div class="sixteen wide table-container">
                        <table class="ui sortable celled table">
                            <thead>
                            <tr>
                                <th>Форма</th>
                                <th>Дисциплина</th>
                                <th>Факультет</th>
                                <th>Спец.</th>
                                <th>Курс</th>
                                <th>Сем.</th>
                                <th>Период</th>
                                <th>Труд.</th>
                                <th>Часов в нед.</th>
                                <th>Часов СРС</th>
                                <th>Часов по плану</th>
                                <th>ЛК</th>
                                <th>ПР</th>
                                <th>ЛР</th>
                                <th>Зачет</th>
                                <th>Экзамен</th>
                                <th>ВСЕГО</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td data-label="Форма">{{ dis.form.name }}</td>
                                <td data-label="Дисциплина"><a
                                        href="/admin/Disciplines/discipline/{{ dis.id }}/change/">{{ dis.name }}</a>
                                </td>
                                <td data-label="Факультет">{{ dis.fakultet.name }}</td>
                                <td data-label="Спец.">{{ dis.specialnost.name }}</td>
                                <td data-label="Курс">{{ dis.kurs }}</td>
                                <td data-label="Сем.">{{ dis.semestr }}</td>
                                <td data-label="Период">{{ dis.period }}</td>
                                <td data-label="Труд.">{{ dis.trudoemkost }}</td>
                                <td data-label="Часов в нед.">{{ dis.chas_v_nedelu }}</td>
                                <td data-label="Часов СРС">{{ dis.srs }}</td>
                                <td data-label="Часов по плану">{{ dis.chas_po_planu }}</td>
                                <td data-label="ЛК">{{ dis.lk }}</td>
                                <td data-label="ПР">{{ dis.pr }}</td>
                                <td data-label="ЛР">{{ dis.lr }}</td>
                                <td data-label="Зачет">{{ dis.zachet }}</td>
                                <td data-label="Экзамен">{{ dis.ekzamen }}</td>
                                <td data-label="ВСЕГО">{{ dis.summary }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h1 class="ui center aligned header">Распределение нагрузки</h1>
                    <div class="sixteen wide">
                        <form id="nagruzka-form" method="post">
                            {% csrf_token %}
                            <table class="ui celled table nagruzka">
                                <thead>
                                <tr>
                                    {% if edit or nagruzki|length == 0 %}
                                        <th></th>
                                    {% endif %}
                                    <th>Преподаватель</th>
                                    {% if not edit and nagruzki|length > 0 %}
                                        <th>Ставка</th>
                                    {% endif %}
                                    <th>Студ.</th>
                                    <th>ЛК</th>
                                    <th>ПР</th>
                                    <th>ЛР</th>
                                    <th>К.Тек.</th>
                                    <th>К.Экз</th>
                                    <th>Зачет</th>
                                    <th>Экз.</th>
                                    <th>Контр.р.</th>
                                    <th>КР/КП</th>
                                    <th>ВКР</th>
                                    <th>Пр.Пед.</th>
                                    <th>Пр.Др.</th>
                                    <th>ГАК</th>
                                    <th>Мг/Асп</th>
                                    <th>Руков.</th>
                                    <th>Доп.ч.</th>
                                    <th>ИТОГО</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% include 'Disciplines/nagruzka_edit_template.html' with template=True nagruzka=None %}

                                {% if edit %}
                                    {% for nagruzka in nagruzki %}
                                        {% include 'Disciplines/nagruzka_edit_template.html' with template=False nagruzka=nagruzka dis=nagruzka index=forloop.counter %}
                                    {% endfor %}
                                {% else %}
                                    {% for nagruzka in nagruzki %}
                                        {% include 'Disciplines/nagruzka_read_template.html' with template=False nagruzka=nagruzka %}
                                    {% endfor %}
                                {% endif %}
                                <tr class="summary">
                                    {% if  edit or nagruzki|length == 0 %}
                                        <td></td>
                                    {% endif %}
                                    <td data-label="Преподаватель" class="center aligned">Сумма:</td>
                                    {% if not edit and nagruzki|length > 0 %}
                                        <td data-label="Ставка"></td>
                                    {% endif %}
                                    <td data-label="Студ." class="center aligned">{{ dis.student }}</td>
                                    <td data-label="ЛК" class="center aligned">{{ dis.lk }}</td>
                                    <td data-label="ПР" class="center aligned">{{ dis.pr }}</td>
                                    <td data-label="ЛР" class="center aligned">{{ dis.lr }}</td>
                                    <td data-label="К.Тек." class="center aligned">{{ dis.k_tek }}</td>
                                    <td data-label="К.Экз" class="center aligned">{{ dis.k_ekz }}</td>
                                    <td data-label="Зачет" class="center aligned">{{ dis.zachet }}</td>
                                    <td data-label="Экз." class="center aligned">{{ dis.ekzamen }}</td>
                                    <td data-label="Контр.р." class="center aligned">{{ dis.kontr_raboti }}</td>
                                    <td data-label="КР/КП" class="center aligned">{{ dis.kr_kp }}</td>
                                    <td data-label="ВКР" class="center aligned">{{ dis.vkr }}</td>
                                    <td data-label="Пр.Пед." class="center aligned">{{ dis.pr_ped }}</td>
                                    <td data-label="Пр.Др." class="center aligned">{{ dis.pr_dr }}</td>
                                    <td data-label="ГАК" class="center aligned">{{ dis.gak }}</td>
                                    <td data-label="Мг/Асп" class="center aligned">{{ dis.aspirantura }}</td>
                                    <td data-label="Руков." class="center aligned">{{ dis.rukovodstvo }}</td>
                                    <td data-label="Доп.ч." class="center aligned">{{ dis.dop_chasi }}</td>
                                    <td data-label="ИТОГО" class="center aligned">{{ dis.summary }}</td>

                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="sixteen wide panel-buttons">
                        {% if editable %}
                            {% if nagruzki|length == 0 %}
                                <a id="add-nagruzka" class="ui button large primary">Добавить нагрузку</a>
                                <button id="save-nagruzka" type="submit" form="nagruzka-form"
                                        class="ui button large primary {% if not nagruzki %}disabled{% endif %}">
                                    Сохранить
                                </button>
                            {% else %}
                                {% if edit %}
                                    <a id="add-nagruzka" class="ui button large primary">Добавить нагрузку</a>
                                    <button id="save-nagruzka" type="submit" form="nagruzka-form"
                                            class="ui button large primary {% if not nagruzki %}disabled{% endif %}">
                                        Сохранить
                                    </button>
                                    <a href="/disciplines/{{ dis.id }}/nagruzka/"
                                       class="ui button large primary">Отмена</a>
                                {% else %}
                                    <a href="/disciplines/{{ dis.id }}/nagruzka/archiving/"
                                       class="ui button large primary">Новое
                                        распределение</a>
                                    <a href="?edit=True" class="ui button large primary">Редактировать</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}


                    </div>
                    {% if user.is_superuser %}
                        {% if archives|length > 0 %}
                            <h1 class="ui center aligned header">Архивы</h1>
                            <div class="sixteen wide table-container">
                                <table class="ui celled table archive structured">
                                    <thead>
                                    <tr>
                                        <th>Преподаватель</th>
                                        <th>Ставка</th>
                                        <th>Студ.</th>
                                        <th>ЛК</th>
                                        <th>ПР</th>
                                        <th>ЛР</th>
                                        <th>К.Тек.</th>
                                        <th>К.Экз</th>
                                        <th>Зачет</th>
                                        <th>Экз.</th>
                                        <th>Контр.р.</th>
                                        <th>КР/КП</th>
                                        <th>ВКР</th>
                                        <th>Пр.Пед.</th>
                                        <th>Пр.Др.</th>
                                        <th>ГАК</th>
                                        <th>Мг/Асп</th>
                                        <th>Руков.</th>
                                        <th>Доп.ч.</th>
                                        <th>ИТОГО</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for archive in archives %}
                                        <tr>
                                            <td colspan="20" class="center aligned">{{ archive.dt }}</td>
                                        </tr>
                                        {% for nagruzka in archive.nagruzki.all %}
                                            {% include 'Disciplines/nagruzka_read_template.html' with nagruzka=nagruzka dis=dis archive=True %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'Disciplines/stavka_modal.html' %}
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/table_sort.js' %}"></script>
    <script type="text/javascript">
        function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
        }

        $(document).ready(function () {
            $('table.sortable').tablesort();

            function setupDropdown($nagruzka) {
                var $dropdown = $($nagruzka.find('.dropdown'));
                console.log($dropdown.attr('data-value'));
                $dropdown.dropdown('set selected', $dropdown.attr('data-value'));
            }

            var error_count = 0;
            var $save_btn = $('#save-nagruzka');

            function checkColumn(index) {
                var sum = 0.0;
                $('table.nagruzka tbody tr:not(.hide):not(.summary)').each(function (i) {
                    var val = $($(this).find('td')[index]).find('input').val().replace(',', '.').replace(/\s*/, '');
                    if (val !== '')
                        sum += parseFloat(val)
                });
                var right_cell = $($('tr.summary td')[index]);
                if (sum !== parseFloat(right_cell.text().replace(',', '.'))) {
                    if (!right_cell.hasClass('error'))
                        error_count += 1;
                    right_cell.addClass('error');
                } else if (right_cell.hasClass('error')) {
                    right_cell.removeClass('error');
                    error_count -= 1;
                }
                if (error_count > 0)
                    $save_btn.addClass('disabled');
                else
                    $save_btn.removeClass('disabled');
            }

            function checkSummary() {
                var sum = 0.0;
                $('table.nagruzka tbody tr:not(.hide):not(.summary)').each(function (i) {
                    sum += parseFloat($($(this).find('td')[19]).text().replace(',', '.'))
                });
                var right_cell = $($('tr.summary td')[19]);
                if (sum !== parseFloat(right_cell.text().replace(',', '.'))) {
                    if (!right_cell.hasClass('error'))
                        error_count += 1;
                    right_cell.addClass('error');
                } else if (right_cell.hasClass('error')) {
                    right_cell.removeClass('error');
                    error_count -= 1;
                }
                if (error_count > 0)
                    $save_btn.addClass('disabled');
                else
                    $save_btn.removeClass('disabled');
            }

            function setupInputs() {
                $('table.nagruzka input.calculate-summary').on('keyup', function () {
                    var $inputs_row = $(this).closest('tr').find('input.calculate-summary');
                    var sum_row = 0.0;
                    var column = $(this).closest('td').index();
                    $inputs_row.each(function (i) {
                        var val = $(this).val().replace(',', '.').replace(/\s*/, '');
                        if (val !== '')
                            sum_row += parseFloat(val)
                    });
                    checkColumn(column);
                    $(this).closest('tr').find('[data-label=ИТОГО]').text(sum_row);
                    checkSummary()
                });
            }

            setupDeleteBtn();

            function setupDeleteBtn() {
                $('.delete-btn').click(function () {
                    $(this).closest('tr').remove();
                    for (var i = 3; i < 19; i++) {
                        checkColumn(i)
                    }
                    checkSummary();
                    if (!$(this).closest('tr').find('.dropdown').hasClass('selected')) {
                        dropdown_unselect -= 1;
                        if (error_count === 0) {
                            if (dropdown_unselect > 0)
                                $save_btn.addClass('disabled');
                            else
                                $save_btn.removeClass('disabled');
                        }
                    }
                });
            }

            var index = 100;
            $('#add-nagruzka').click(function () {
                index += 1;
                var $nagruzka = $('#template-nagruzka').clone().removeClass('hide').attr('id', index);
                $('table.nagruzka tbody').prepend($nagruzka);
                for (var i = 3; i < 19; i++) {
                    checkColumn(i)
                }
                checkSummary();
                setupInputs();
                setupDropdown($nagruzka);
                setupDeleteBtn();
                setupStavkaBtn();
            });
            $('#nagruzka-form').submit(function (e) {
                e.preventDefault();
                var $btn = $('#save-nagruzka').addClass('loading');
                var $template_inputs = $('#template-nagruzka input');
                $template_inputs.attr('disabled', 'disabled');
                var $inputs = $(':not(#template-nagruzka) input');
                $inputs.each(function (i) {
                    if ($(this).val() === '')
                        $(this).val(0)
                });
                var url = '/disciplines/{{ dis.id }}/nagruzka/save/';
                $.post(url, $(this).serialize(), function (data) {
                    $btn.removeClass('loading');
                    window.location = '/disciplines/{{ dis.id }}/nagruzka/';
                });
                $template_inputs.removeAttr('disabled');
            });
            $('.dropdown.preselect').each(function (i) {
                $(this).dropdown('set selected', $(this).attr('data-value'))
            });
            setupStavkaBtn();

            function OnApproveModal() {
                var row_id = $(this).closest('.modal').attr('data-row-id');
                var $row = $('#' + row_id);
                var $modal = $('.ui.modal');
                var n_stavka = $modal.find('input[name=n_stavka]').val();
                var pochasovka = $modal.find('.ui.checkbox').hasClass('checked');
                $row.find('input[name=n_stavka]').val(n_stavka);
                $row.find('input[name=pochasovka]').val(pochasovka);
                if (pochasovka) {
                    $row.find('a.stavka span').text(n_stavka + ' П');
                } else {
                    $row.find('a.stavka span').text(n_stavka);
                }
                console.log('n_stavka', n_stavka, pochasovka)
            }

            function setupStavkaBtn() {

                $('a.stavka').click(function () {
                    var $modal = $('.ui.modal').attr('data-row-id', $(this).closest('tr').attr('id'));
                    $modal.modal({autofocus: false, onApprove: OnApproveModal}).modal('show');
                    var n_stavka = $(this).closest('td').find('input[name=n_stavka]').val();
                    var pochasovka = $(this).closest('td').find('input[name=pochasovka]').val().toLowerCase() === 'true';
                    var $dropdown = $modal.find('.dropdown');
                    $dropdown.dropdown();
                    $dropdown.dropdown('set selected', n_stavka);
                    var $pochasovka = $modal.find('.ui.checkbox');
                    $pochasovka.checkbox();
                    if (pochasovka)
                        $pochasovka.checkbox('check');
                    else
                        $pochasovka.checkbox('uncheck');
                })
            }


        });
    </script>




{% endblock %}