<tr>
    <td data-label="Преподаватель">
        {{ nagruzka.prepod.fio }}
    </td>
    <td data-label="Ставка" class="center aligned">{{ nagruzka.n_stavka }}{% if nagruzka.pochasovka %} П{% endif %}</td>
    <td data-label="Студ." class="center aligned">
        {{ nagruzka.student|default:'-' }}
    </td>
    <td data-label="ЛК" class="center aligned">
        {{ nagruzka.lk|default:'-' }}
    </td>
    <td data-label="ПР" class="center aligned">
        {{ nagruzka.pr|default:'-' }}
    </td>
    <td data-label="ЛР" class="center aligned">
        {{ nagruzka.lr|default:'-' }}
    </td>
    <td data-label="К.Тек." class="center aligned">
        {{ nagruzka.k_tek|default:'-' }}
    </td>
    <td data-label="К.Экз" class="center aligned">
        {{ nagruzka.k_ekz|default:'-' }}
    </td>
    <td data-label="Зачет" class="center aligned">
        {{ nagruzka.zachet|default:'-' }}
    </td>
    <td data-label="Экз." class="center aligned">
        {{ nagruzka.ekzamen|default:'-' }}
    </td>
    <td data-label="Контр.р." class="center aligned">
        {{ nagruzka.kontr_raboti|default:'-' }}
    </td>
    <td data-label="КР/КП" class="center aligned">
        {{ nagruzka.kr_kp|default:'-' }}
    </td>
    <td data-label="ВКР" class="center aligned">
        {{ nagruzka.vkr|default:'-' }}
    </td>
    <td data-label="Пр.Пед." class="center aligned">
        {{ nagruzka.pr_ped|default:'-' }}
    </td>
    <td data-label="Пр.Др." class="center aligned">
        {{ nagruzka.pr_dr|default:'-' }}
    </td>
    <td data-label="ГАК" class="center aligned">
        {{ nagruzka.gak|default:'-' }}
    </td>
    <td data-label="Мг/Асп" class="center aligned">
        {{ nagruzka.aspirantura|default:'-' }}
    </td>
    <td data-label="Руков." class="center aligned">
        {{ nagruzka.rukovodstvo|default:'-' }}
    </td>
    <td data-label="Доп.ч." class="center aligned">
        {{ nagruzka.dop_chasi|default:'-' }}
    </td>
    <td data-label="ИТОГО" class="center aligned">
        {{ nagruzka.summary|default:0 }}
    </td>
</tr>