<tr {% if template %}id="template-nagruzka" class="hide"{% else %}id="{{ index }}"{% endif %}>
    <td class="center aligned"><a class="delete-btn" style="cursor: pointer"><i class="icon close"></i></a></td>
    <td data-label="Преподаватель">
        <div class="ui form">
            <div class="field">
                <div class="ui selection dropdown {% if nagruzka %}preselect{% endif %}"
                     data-value="{% if nagruzka %}{{ nagruzka.prepod.id }}{% endif %}{% if template %}{{ prepods.0.id }}{% endif %}">
                    <input type="hidden" name="prepod">
                    <i class="dropdown icon"></i>
                    <div class="default text">Преподаватель</div>
                    <div class="menu">
                        {% for prepod in prepods %}
                            <div class="item"
                                 data-value="{{ prepod.id }}">{{ prepod.fio }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="n_stavka" value="{{ dis.n_stavka|default:"0,0" }}">
        <input type="hidden" name="pochasovka" value="{{ dis.pochasovka| default_if_none:"false" }}">
        <a class="stavka" style="cursor: pointer">Ставка (<span>{{ dis.n_stavka|default:0 }}{% if dis.pochasovka %} П{% endif %}</span>)</a>
    </td>
    <td data-label="Студ.">
        <div class="child-center">
            <div class="ui form">
                <input type="number" name="student" placeholder="" value="{{ dis.student|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="ЛК">
        <div class="child-center">
            <div class="ui form">
                <input type="number" class="calculate-summary" step="0.01" name="lk" placeholder=""
                       value="{{ dis.lk|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="ПР">
        <div class="child-center">
            <div class="ui form">
                <input type="number" class="calculate-summary" step="0.01" name="pr" placeholder=""
                       value="{{ dis.pr|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="ЛР">
        <div class="child-center">
            <div class="ui form">
                <input type="number" class="calculate-summary" step="0.01" name="lr" placeholder=""
                       value="{{ dis.lr|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="К.Тек.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,.][0-9]+)?" MaxLength="4" class="calculate-summary" name="k_tek"
                       placeholder="" value="{{ dis.k_tek|default:"" }}">
            </div>
        </div>
    </td>
    <td data-label="К.Экз">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="k_ekz"
                       placeholder="" value="{{ dis.k_ekz|default:"" }}">
            </div>
        </div>
    </td>
    <td data-label="Зачет">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="zachet"
                       placeholder="" value="{{ dis.zachet|default:"" }}">
            </div>
        </div>
    </td>
    <td data-label="Экз.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="ekzamen"
                       placeholder="" value="{{ dis.ekzamen|default:"" }}">
            </div>
        </div>
    </td>
    <td data-label="Контр.р.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary"
                       name="kontr_raboti" placeholder="" value="{{ dis.kontr_raboti|default:"" }}">
            </div>
        </div>
    </td>
    <td data-label="КР/КП">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="kr_kp"
                       placeholder="" value="{{ dis.kr_kp|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="ВКР">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="vkr"
                       placeholder="" value="{{ dis.vkr|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="Пр.Пед.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="pr_ped"
                       placeholder="" value="{{ dis.pr_ped|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="Пр.Др.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="pr_dr"
                       placeholder="" value="{{ dis.pr_dr|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="ГАК">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="gak"
                       placeholder="" value="{{ dis.gak|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="Мг/Асп">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary"
                       name="aspirantura"
                       placeholder="" value="{{ dis.aspirantura|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="Руков.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary"
                       name="rukovodstvo"
                       placeholder="" value="{{ dis.rukovodstvo|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="Доп.ч.">
        <div class="child-center">
            <div class="ui form">
                <input type="text" pattern="[0-9]+([,][0-9]+)?" MaxLength="4" class="calculate-summary" name="dop_chasi"
                       placeholder="" value="{{ dis.dop_chasi|default:'' }}">
            </div>
        </div>
    </td>
    <td data-label="ИТОГО" class="center aligned">
        {{ dis.summary|default:'' }}
    </td>
</tr>