.ui.container.full-width{
  width: 100%;
  max-width: 98% !important;
}

.discipline-list {
  width: 100%;
  max-width: 100%;

  .buttons {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    .right{
      float: right;
    }
  }
  .table-container{
    overflow-x: scroll;
    margin-top: 10px;
    border: 1px solid rgba(15, 15, 16, 0.18);
    font-size: 12px;
  }
}

.ui.modal {
  label.ui.button.primary{
    position: absolute;
    right: 20px;
    top: 1px;
  }
  input[type=text]{
    width: calc(100% - 150px);
  }
  input[type=file] {
    display: none;
  }
}
