.ui.container.full-width {
  width: 100%;
  max-width: 98% !important;
}

.discipline-list {
  width: 100%;
  max-width: 100%;

  .data {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .panel {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;

    .buttons {
      float: left;

      .ui.form {
        position: relative;
        float: left;
        max-width: 600px;
        width: 100%;
      }

      &.left {
        width: calc(100% - 500px)
      }

      &.right {
        float: right;
      }
    }
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible !important;
    font-size: 12px;
    max-height: 60vh;
    padding-right: 17px;

    table thead th {
      position: sticky; top: 0;
    }


    tr {
      &.nagruzka-empty {
        background-color: #fff5da;
      }

      &.nagruzka-error {
        background-color: #ffc0c0;
      }
    }
  }
}

.ui.modal {
  label.ui.button.primary {
    position: absolute;
    right: 20px;
    top: 1px;
  }

  input[type=text] {
    width: calc(100% - 150px);
  }

  input[type=file] {
    display: none;
  }
}
